<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Running Circle</title>
  </head>
  <body>
    <h1>Strave Feed</h1>
    <p><a href="/strava-feed">Take Me</a></p>
  </body>
</html>